In [1]:
import pandas as pd
import dateutil

In [2]:
file = pd.read_csv('co2-concentration-long-term.csv') #data from ourworlds.com

In [3]:
file #checking if data frame has the data

,Entity,Code,Year,CO( concentration (parts per million)),key,Population,Crude Oil Consumption
0,World,OWID_WRL,-803719,207.29,OWID_WRL-803719,NaN,NaN
1,World,OWID_WRL,-803182,202.23,OWID_WRL-803182,NaN,NaN
2,World,OWID_WRL,-802573,204.86,OWID_WRL-802573,NaN,NaN
3,World,OWID_WRL,-802060,207.50,OWID_WRL-802060,NaN,NaN
4,World,OWID_WRL,-801975,202.92,OWID_WRL-801975,NaN,NaN
...,...,...,...,...,...,...,...
1866,World,OWID_WRL,2014,398.65,OWID_WRL2014,7.295291e+09,51109.97172
1867,World,OWID_WRL,2015,400.83,OWID_WRL2015,7.379797e+09,52053.27008
1868,World,OWID_WRL,2016,404.24,OWID_WRL2016,7.464022e+09,53001.86598
1869,World,OWID_WRL,2017,406.55,OWID_WRL2017,7.547859e+09,53752.27638
1870,World,OWID_WRL,2018,408.52,OWID_WRL2018,7.631091e+09,NaN

In [4]:
file.dtypes #checking the data types, notice year is Int64 not date #import dateutil
file.set_index(['Year'])

,Entity,Code,CO( concentration (parts per million)),key,Population,Crude Oil Consumption
Year,,,,,,
-803719,World,OWID_WRL,207.29,OWID_WRL-803719,NaN,NaN
-803182,World,OWID_WRL,202.23,OWID_WRL-803182,NaN,NaN
-802573,World,OWID_WRL,204.86,OWID_WRL-802573,NaN,NaN
-802060,World,OWID_WRL,207.50,OWID_WRL-802060,NaN,NaN
-801975,World,OWID_WRL,202.92,OWID_WRL-801975,NaN,NaN
...,...,...,...,...,...,...
2014,World,OWID_WRL,398.65,OWID_WRL2014,7.295291e+09,51109.97172
2015,World,OWID_WRL,400.83,OWID_WRL2015,7.379797e+09,52053.27008
2016,World,OWID_WRL,404.24,OWID_WRL2016,7.464022e+09,53001.86598
2017,World,OWID_WRL,406.55,OWID_WRL2017,7.547859e+09,53752.27638
2018,World,OWID_WRL,408.52,OWID_WRL2018,7.631091e+09,NaN

In [5]:
file.shape

(1871, 7)

In [6]:
#file.Year = pd.to_datetime(file.Year)
#file.Year = pd.to_datetime(file.Year, format='%Y')

In [7]:
file

,Entity,Code,Year,CO( concentration (parts per million)),key,Population,Crude Oil Consumption
0,World,OWID_WRL,-803719,207.29,OWID_WRL-803719,NaN,NaN
1,World,OWID_WRL,-803182,202.23,OWID_WRL-803182,NaN,NaN
2,World,OWID_WRL,-802573,204.86,OWID_WRL-802573,NaN,NaN
3,World,OWID_WRL,-802060,207.50,OWID_WRL-802060,NaN,NaN
4,World,OWID_WRL,-801975,202.92,OWID_WRL-801975,NaN,NaN
...,...,...,...,...,...,...,...
1866,World,OWID_WRL,2014,398.65,OWID_WRL2014,7.295291e+09,51109.97172
1867,World,OWID_WRL,2015,400.83,OWID_WRL2015,7.379797e+09,52053.27008
1868,World,OWID_WRL,2016,404.24,OWID_WRL2016,7.464022e+09,53001.86598
1869,World,OWID_WRL,2017,406.55,OWID_WRL2017,7.547859e+09,53752.27638
1870,World,OWID_WRL,2018,408.52,OWID_WRL2018,7.631091e+09,NaN

In [8]:
file.describe()

,Year,CO( concentration (parts per million)),Population,Crude Oil Consumption
count,1871.000000,1871.000000,1.060000e+02,63.000000
mean,-244752.171032,235.342293,3.843149e+09,32788.589076
std,274710.062966,37.803049,1.923500e+09,15780.140247
min,-803719.000000,173.710000,1.882391e+08,0.000000
25%,-508268.500000,204.560000,2.226771e+09,27441.763860
50%,-79257.000000,232.000000,3.373753e+09,36354.280570
75%,-12913.500000,255.680000,5.477762e+09,43608.829115
max,2018.000000,408.520000,7.631091e+09,53752.276380

In [9]:
crude = file.groupby('Year').sum()['Crude Oil Consumption']

In [10]:
file['Crude Oil Consumption'].value_counts()

47732.19992    1
397.22254      1
50065.86499    1
52053.27008    1
39021.80173    1
              ..
180.55570      1
24534.98916    1
47115.72728    1
37343.11239    1
0.00000        1
Name: Crude Oil Consumption, Length: 63, dtype: int64