In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({'make': ['Toyota','BMW','Toyota','Tesla','Tesla','Tesla'],'year':['2018','2019','2012','2013','2015','2019']})

In [3]:
data

     make  year
0  Toyota  2018
1     BMW  2019
2  Toyota  2012
3   Tesla  2013
4   Tesla  2015
5   Tesla  2019

In [4]:
groups = data.groupby('make')  #you can also use by =

In [5]:
groups

In [6]:
#after group by use aggreggate functions on grouby objects
#sum,avg,min,max count, first, last

In [7]:
groups.count()

        year
make
BMW        1
Tesla      3
Toyota     2