In [11]:
import pandas as pd
import glob
path = r'/Users/penkeerthi/Desktop/files' # use your path
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
frame = pd.concat(li, axis=0, ignore_index=True,sort=True)

In [18]:
list_of_dfs = [pd.read_csv(filename) for filename in filenames]

NameError: name 'filenames' is not defined

In [17]:
df.head()

        Entity Code  Year  Daily caloric supply (kcal/person/day)
0  Afghanistan  AFG  1961                                  2999.0
1  Afghanistan  AFG  1962                                  2917.0
2  Afghanistan  AFG  1963                                  2698.0
3  Afghanistan  AFG  1964                                  2953.0
4  Afghanistan  AFG  1965                                  2956.0