In [1]:
import pandas as pd
import dateutil

In [4]:
#load data from .csv file
data = pd.read_csv('phone_data.csv')

In [5]:
data

     index            date  duration  item    month   network network_type
0        0  15/10/14 06:58    34.429  data  2014-11      data         data
1        1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2        2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3        3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4        4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
..     ...             ...       ...   ...      ...       ...          ...
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [6]:
data.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [7]:
data.dtypes

index             int64
date             object
duration        float64
item             object
month            object
network          object
network_type     object
dtype: object

In [9]:
#convert date from string to data times
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)

#apply is a way for Python to pass a function on the data set

In [10]:
data.head()

   index                date  duration  item    month   network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [11]:
data.dtypes #When you are working with date time , make sure convert

index                    int64
date            datetime64[ns]
duration               float64
item                    object
month                   object
network                 object
network_type            object
dtype: object

In [12]:
#how many rows the dataset
data.shape

(830, 7)

In [16]:
#how many types of items are there
data['item'].value_counts()

call    388
sms     292
data    150
Name: item, dtype: int64

In [32]:
#what was the longest phone call / data entry
#data['item' == 'call']= data['maxduration'].max()
data[data['item'] == 'call']['duration'].max()

10528.0

In [35]:
#how many seconds of phone calls are recorded in otal?
data[data['item'] == 'call']['duration'].sum()

92321.0

In [37]:
# how many enteries are there for each month
data['month'].value_counts()

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [46]:
data.groupby('month').count()['item']  #you can also use by =

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: item, dtype: int64

In [49]:
#number of non-null unique network entries
data['network'].nunique()

9

In [53]:
# get the first entry for each month
data.groupby('month').first()#['item']

,index,date,duration,item,network,network_type,False
month,,,,,,,
2014-11,0,2014-10-15 06:58:00,34.429,data,data,data,10528.0
2014-12,228,2014-11-13 06:58:00,34.429,data,data,data,10528.0
2015-01,381,2014-12-13 06:58:00,34.429,data,data,data,10528.0
2015-02,577,2015-01-13 06:58:00,34.429,data,data,data,10528.0
2015-03,729,2015-02-12 20:15:00,69.000,call,landline,landline,10528.0

In [56]:
#get the sum of the durations per mpnth 
data.groupby('month').sum()['duration']

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [64]:
#sum only calls for eac month
data[data['item'] == 'call'].groupby('month')['duration'].sum()

month
2014-11    25547.0
2014-12    13561.0
2015-01    17070.0
2015-02    14416.0
2015-03    21727.0
Name: duration, dtype: float64

In [ ]:
#get the number of dates /enteries in each month
data.groupby('month').count['date']

In [65]:
#what is the sum of durations , for calls only , to each network
data[data['item'] == 'call'].groupby('network')['duration'].sum()

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [66]:
#calls per network per month
data[data['item'] == 'call'].groupby(['network','month'])['duration'].sum()

network    month
Meteor     2014-11     1521.0
           2014-12     2010.0
           2015-01     2207.0
           2015-02     1188.0
           2015-03      274.0
Tesco      2014-11     4045.0
           2014-12     1819.0
           2015-01     2904.0
           2015-02     4087.0
           2015-03      973.0
Three      2014-11    12458.0
           2014-12     6316.0
           2015-01     6445.0
           2015-02     6279.0
           2015-03     4966.0
Vodafone   2014-11     4316.0
           2014-12     1302.0
           2015-01     3626.0
           2015-02     1864.0
           2015-03     3513.0
landline   2014-11     2906.0
           2014-12     1424.0
           2015-01     1603.0
           2015-02      730.0
           2015-03    11770.0
voicemail  2014-11      301.0
           2014-12      690.0
           2015-01      285.0
           2015-02      268.0
           2015-03      231.0
Name: duration, dtype: float64